<form class="form-horizontal" ng-submit="guardar()" name="form">
    <div style="background-color: transparent; color: black;">
        <div class="md-toolbar-tools">
            <h2>
                <span class="md-headline"><md-icon class="material-icons">shopping_basket</md-icon> {{titulo}}</span>
            </h2>
            <span flex></span>
        </div>
    </div>
    <md-card>
        <md-card-content>
            <div class="col-md-12">
                <div  layout-gt-sm="row" class="layout-gt-sm-row">
                    <md-input-container class="md-block flex-gt-sm"  >
                        <label>Nombre del cliente</label>
                        <input ng-model="transaccion.clienteId.nombre" required readonly>
                    </md-input-container>
                    <div flex="5" hide-xs="" hide-sm="" class="hide-sm hide-xs flex-5">
                        <!-- Spacer //-->
                    </div>
                    <md-input-container class="md-block flex-gt-sm"  >
                        <label>Email del cliente</label>
                        <input ng-model="transaccion.clienteId.email" required readonly>
                    </md-input-container>
                </div>
                <div  layout-gt-sm="row" class="layout-gt-sm-row">
                    <md-input-container class="md-block flex-gt-sm"  >
                        <label>Telefono del cliente</label>
                        <input ng-model="transaccion.clienteId.telefono" required readonly>
                    </md-input-container>
                    <div flex="5" hide-xs="" hide-sm="" class="hide-sm hide-xs flex-5">
                        <!-- Spacer //-->
                    </div>
                    <md-input-container class="md-block flex-gt-sm"  >
                        <label>Destino de la transaccion</label>
                        <input ng-model="transaccion.destino" required readonly>
                    </md-input-container>
                </div>
                <div  layout-gt-sm="row" class="layout-gt-sm-row">
                    <style type="text/css">
                        .md-errors-spacer{
                            display: none;
                        }
                    </style>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="cobrar()" ng-if="transaccion.estadoId.nombre === 'Nueva'" type="button" class="md-raised md-primary float-right"><md-icon class="material-icons">attach_money</md-icon> Cobrar</md-button>
            <md-button ng-click="enviar()" ng-if="transaccion.estadoId.nombre === 'Pagada'" type="button" class="md-raised md-primary float-right">
                <md-icon class="material-icons">send</md-icon> Enviar</md-button>
            <md-button ng-click="entregado()" ng-if="transaccion.estadoId.nombre === 'Enviada'" type="button" class="md-raised md-primary float-right">
                <md-icon class="material-icons">done_all</md-icon> Entregada</md-button>
            <md-button ng-click="factura()" ng-if="transaccion.estadoId.nombre === 'Entregada'" type="button" class="md-raised md-primary float-right">
                <md-icon class="material-icons">receipt</md-icon> Factura</md-button>
            <md-button ng-click="cancel()" type="button" class="md-raised float-right"><md-icon class="material-icons">arrow_back</md-icon> Cancelar</md-button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-content class="table-responsive">
            <table class="table table-bordered table-hover"   tr-ng-grid=""  page-items="15" items="detalles" selection-mode="none">
                <thead>
                    <tr >
                        <th field-name="productoId.codigo" display-name="Producto"></th>
                        <th field-name="precio" display-name="Precio"></th>
                    </tr>
                </thead>
            </table>
        </md-card-content>
    </md-card>
</form>
<div style="display: none;">
    <div id="factura">
        <h2>Transaccion #{{ transaccion.id}}</h2>
        <table>
            <tr>
                <td>
                    Nombre del cliente
                </td>
                <td>
                    {{ transaccion.clienteId.nombre}}
                </td>
            </tr>
            <tr>
                <td>
                    Email del cliente
                </td>
                <td>
                    {{ transaccion.clienteId.email}}
                </td>
            </tr>
            <tr>
                <td>
                    Telefono del cliente
                </td>
                <td>
                    {{ transaccion.clienteId.telefono}}
                </td>
            </tr>
            <tr>
                <td>
                    Direccion de destino
                </td>
                <td>
                    {{ transaccion.detino}}
                </td>
            </tr>
        </table>
        <hr/>
        <table>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
            </tr>
            <tr ng-repeat="detalle in detalles">
                <td>
                    {{detalle.productoId.codigo}} | {{ detalle.productoId.nombre}}
                </td>
                <td>
                    {{detalle.precio | currency: "GTQ " : 2 }}
                </td>
            </tr>
        </table>
        <h3>Total: {{ total | currency: "GTQ " : 2 }}</h3>
    </div>
</div>