<!DOCTYPE html>
<html lang="es" ng-app="doorman">
    <head>
        <meta charset="UTF-8">
        <title>Java Store</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="plugins/sweetAlert/css/sweetalert.css" rel="stylesheet"/>
        <link rel="stylesheet" href="bower_components/tr-ng-grid/trNgGrid.min.css"/>
        <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="plugins/angular-ui-grid/ui-grid.css"/>
        <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-theme.min.css">
        <link href="node_modules/md-color-picker/dist/mdColorPicker.min.css" rel="stylesheet"/>
        <link href="node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="css/style.css">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!--<link rel="shortcut icon" href="/img/ic_launcher.png" type="image/x-icon">
        <link rel="icon" href="/img/ic_launcher.png" type="image/x-icon">-->
    </head>
    <body layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')" ng-show="user">
        <md-toolbar>
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div ng-if="user" style="vertical-align: middle; color: white; font-style: bold; font-size: 15px;">
                    {{user.email}}
                </div>
            </div>
        </md-toolbar>
        <md-list ng-controller="SidenavController">
            <md-list-item ng-repeat="(key, item) in menu" class="secondary-button-padding" ng-href="#{{item.path}}">
                <p>{{item.nombre}}</p>
                <md-icon class="material-icons">{{item.icono}}</md-icon>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar ng-controller="ToolBarController" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <h3>
                    <!--<img src="/img/ic_launcher.png" height="40px"/>--> Java store
                </h3>
                <span flex></span>
                <md-button ng-if="user" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <md-icon class="material-icons">account_circle</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex md-scroll-y style="background-color: #ebeff1;">
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset" hide-sm></div>
                <div ng-view></div>
            </ui-view>
        </md-content>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="plugins/highCharts/js/highcharts.js"></script>
    <script src="plugins/highCharts/js/exporting.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-sanitize.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!--CUSTOM-->
    <script type="text/javascript" src="node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>
    <script src="plugins/sweetAlert/js/sweetalert.min.js"></script>
    <script src="bower_components/tr-ng-grid/trNgGrid.min.js"></script>
    <script src="node_modules/md-color-picker/dist/tinycolor-min.js"></script>
    <script src="node_modules/md-color-picker/dist/mdColorPicker.js"></script>
    <script src="plugins/angular-ui-grid/ui-grid.js"></script>
    <script src="plugins/angular-ui-grid/pdfmake.min.js"></script>
    <script src="plugins/angular-ui-grid/vfs_fonts.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/SeguridadController.js" ></script>
    <script src="js/controllers/UsuarioController.js" ></script>
    <script src="js/controllers/RolController.js" ></script>
    <script src="js/controllers/CategoriaController.js" ></script>
    <script src="js/controllers/ProductoController.js" ></script>
    <script src="js/controllers/ClienteController.js" ></script>
    <script src="js/controllers/TransaccionController.js" ></script>
    <script src="js/index.js"></script>
</body>
</html>
