
<md-button ng-href="#/catalogos/productos/nuevo" class="md-fab md-primary md-fab-bottom-right"  style="margin-left: 30%; position: fixed; z-index: 21;">
    <md-icon class="material-icons">add</md-icon>
</md-button>
<div style="background-color: transparent; color: black;">
    <div class="md-toolbar-tools">
        <h2>
            <span><md-icon class="material-icons">card_giftcard</md-icon> Productos</span>
        </h2>
        <span flex></span>
    </div>
</div>
<md-card>
    <md-card-content class="table-responsive">
        <table class="table table-bordered table-hover"   tr-ng-grid=""  page-items="15" items="roles" selection-mode="none">
            <thead>
                <tr >
                    <th field-name="codigo" display-name="Código"></th>
                    <th field-name="nombre" display-name="Nombre"></th>
                    <th field-name="precio" display-name="Precio"></th>
                    <th display-name="Acciones"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
            <md-button ng-href="#/catalogos/productos/editar/{{gridItem.id}}" class="md-fab md-mini md-mini-2" aria-label="Editar">
                <md-icon class="material-icons">edit_mode</md-icon>
            </md-button>
            <md-button ng-href="#/catalogos/productos/categorias/{{gridItem.id}}" class="md-fab md-mini md-mini-2" aria-label="Editar">
                <md-icon class="material-icons">device_hub</md-icon>
            </md-button>
            <md-button ng-href="#/catalogos/productos/existencia/{{gridItem.id}}" class="md-fab md-mini md-mini-2" aria-label="Editar">
                <md-icon class="material-icons">import_contacts</md-icon>
            </md-button>
            <md-button ng-click='eliminar(gridItem)' class="md-fab md-mini md-mini-2" aria-label="Eliminar">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
            </td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>